@media screen and (max-width:1000px) {
    nav{
        flex-direction: column;
    }
    .slider{
        height:23vh;
    }
    .slider img{
        width: 80vw;
    }
nav ul{
    justify-content: center;
    height: 40px;
}
.search{
    justify-content: center;
}
.search input{
    margin: 12px 16px;
}
.card-item img{
    width: 140px;
}
}